In [1]:
import pandas as pd

df_vol=pd.read_csv("logs_vols_2024-06-02.csv")
df_vol=pd.DataFrame(df_vol)

In [2]:
df_vol

,ref_vol,aero_linked,jour_vol,time_en_air,sensor_data,etat_voyant
0,V07679725,B767_4924,2024-06-02,7.0,"{'temp': '-5.7°C', 'pressure': '930.6 hPa', 'v...",0
1,V02564879,B747_3165,2024-06-02,5.1,"{'temp': '0.9°C', 'pressure': '950.6 hPa', 'vi...",0
2,V07933973,B757_2518,2024-06-02,7.7,"{'temp': '-6.2°C', 'pressure': '975.5 hPa', 'v...",3
3,V02230187,A340_1047,2024-06-02,6.1,"{'temp': '-25.3°C', 'pressure': '945.1 hPa', '...",1
4,V09071213,B757_6806,2024-06-02,4.5,"{'temp': '11.1°C', 'pressure': '931.3 hPa', 'v...",0
...,...,...,...,...,...,...
94,V06477218,B757_4595,2024-06-02,4.7,"{'temp': '-15.8°C', 'pressure': '967.0 hPa', '...",1
95,V03133569,B737_1256,2024-06-02,6.4,"{'temp': '-6.4°C', 'pressure': '966.1 hPa', 'v...",0
96,V01537338,E170_2943,2024-06-02,6.4,"{'temp': '-18.3°C', 'pressure': '973.3 hPa', '...",1
97,V01318087,A350_6495,2024-06-02,5.9,"{'temp': '2.8°C', 'pressure': '949.4 hPa', 'vi...",0
98,V04468315,B777_3776,2024-06-02,1.3,"{'temp': '-6.0°C', 'pressure': '925.1 hPa', 'v...",0

In [17]:
import requests
import json

df_sensor = pd.json_normalize(df_vol['sensor_data'].apply(eval))

In [18]:
df_sensor

       temp   pressure               vibrations
0    -5.7°C  930.6 hPa  3.1163905014858932 m/s²
1     0.9°C  950.6 hPa  4.5578253809563725 m/s²
2    -6.2°C  975.5 hPa    4.58707061982232 m/s²
3   -25.3°C  945.1 hPa   3.287868564197513 m/s²
4    11.1°C  931.3 hPa  2.8166257793381355 m/s²
..      ...        ...                      ...
94  -15.8°C  967.0 hPa  0.5322723736683688 m/s²
95   -6.4°C  966.1 hPa   3.600632348965733 m/s²
96  -18.3°C  973.3 hPa  2.0827694406743524 m/s²
97    2.8°C  949.4 hPa   3.029759269497611 m/s²
98   -6.0°C  925.1 hPa  2.2291476661216194 m/s²

[99 rows x 3 columns]

In [19]:
df_aero=pd.read_csv('aeronefs_2024-06-02.csv')
df_aero=pd.DataFrame(df_aero)

In [22]:
df_logvol=pd.read_csv('logs_vols_2024-06-02.csv')
df_logvol=pd.DataFrame(df_logvol)

In [36]:
for index, row in df_logvol.iterrows():
    if row['etat_voyant']>0:
        df_aero['deb_maintenance']=row['jour_vol']
    else:
        df_aero['deb_maintenance']=''

In [37]:
df_aero.head(20)

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint,deb_maintenance
0,E170_6353,E170,2000-03-17,2024-03-27 00:00:00,False,NaN,
1,B767_2803,B767,2020-12-03,2024-06-01 00:00:00,False,NaN,
2,CRJ700_6943,CRJ700,2015-01-29,2024-06-02,True,2024-06-03 14:13:00,
3,A350_1177,A350,2005-08-07,2024-01-04 00:00:00,False,NaN,
4,B777_4029,B777,2009-01-01,2024-06-01 00:00:00,False,NaN,
5,E175_3327,E175,2001-09-05,2024-06-01 00:00:00,False,NaN,
6,A330_4129,A330,2007-07-24,2024-02-20 00:00:00,False,NaN,
7,A320_6678,A320,2009-08-24,2024-05-31 00:00:00,False,NaN,
8,A321_5105,A321,2006-09-04,2024-02-20 00:00:00,False,NaN,
9,A350_4603,A350,2016-03-27,2024-06-01 00:00:00,False,NaN,
10,E170_1544,E170,2011-11-27,2023-11-22 00:00:00,False,NaN,
11,B757_6477,B757,2001-11-06,2023-12-04 00:00:00,False,NaN,
12,A380_4294,A380,2010-06-03,2024-05-31 00:00:00,False,NaN,
13,E170_3393,E170,2022-08-24,2024-06-01 00:00:00,False,NaN,
14,A380_3607,A380,2000-02-06,2024-05-31 00:00:00,False,NaN,
15,A320_1884,A320,2015-12-26,2024-06-01 00:00:00,False,NaN,
16,B747_0262,B747,2003-07-08,2024-04-27 00:00:00,False,NaN,
17,B737_2262,B737,2009-01-10,2024-02-20 00:00:00,False,NaN,
18,B737_5581,B737,2011-03-04,2024-04-26 00:00:00,False,NaN,
19,B777_0122,B777,2019-12-14,2024-06-01 00:00:00,False,NaN,